{% extends 'inventory/base.html' %}
{% load widget_tweaks %}
{% block title %}Category Form{% endblock %}

{% block content %}
<h1 class="text-2xl font-semibold mb-6">
    {% if category %}Edit Category{% else %}Add New Category{% endif %}
</h1>

<form method="POST" class="bg-white p-6 rounded-lg shadow-lg">
    {% csrf_token %}
    
    <div class="mb-4">
        <label for="id_name" class="block text-sm font-medium text-gray-700">Category Name</label>
        {{ form.name|add_class:"form-input mt-1 block w-full" }}
    </div>

    <button type="submit" class="w-full bg-blue-900 text-white py-2 rounded-lg hover:bg-blue-700">
        {% if category %}Update{% else %}Create{% endif %}
    </button>
</form>
{% endblock %}
